.main-swiper {
  --swiper-navigation-color: white;

  .swiper-slide {
    aspect-ratio: 1 / 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }
}

/* thumbs */
.sub-swiper {
  width: 100%;
  margin: 8px auto 0;
  .swiper-slide {
    aspect-ratio: 1 / 1;
    opacity: 0.4;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }

  // thumb active
  .swiper-slide-thumb-active {
    opacity: 1;
  }
}
