@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&display=swap');

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: none;
}

.table th,
.table td {
  padding: 16px 20px;
}

.min-w-0 {
  min-width: 0;
}

.min-w-50 {
  min-width: 50%;
}

.table-image-width {
  width: 120px;
}

.modal-custom-xl {
  --bs-modal-width: 85vw;
  --bs-modal-margin: 2rem;
  max-width: 85vw;
  margin-right: auto;
  margin-left: auto;

  @include media-breakpoint-up(lg) {
    --bs-modal-width: 900px;
    max-width: 900px;
  }

  .modal-footer {
    padding: 1rem 2rem;
  }
}

.border-dashed {
  --bs-border-style: dashed;
}

.btn-delete-image {
  position: absolute;
  top: min(5%, 8px);
  right: min(5%, 8px);
  left: auto;
  max-width: 25px;
  max-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
}

.mt-navbar {
  margin-top: 70px;
}

.navbar {
  .offcanvas {
    width: 160px;
  }
}

// 導覽列 brand
.navbar-brand {
  span {
    color: #c4d570;
  }
}
// 導覽列
.navbar-nav {
  .nav-link {
    display: flex;
    align-items: center;
    gap: 8px;
    i {
      font-size: 1.25rem;
    }
  }
}

// 字數限制
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* swiper 禁止選擇 */
.swiper {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
