@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&display=swap');

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.table th,
.table td {
  padding: 16px 20px;
}

.min-w-0 {
  min-width: 0;
}

.min-w-50 {
  min-width: 50%;
}

.table-image-width {
  width: 120px;
}
