.admin-sidebar {
  width: 260px;

  .nav-link {
    display: flex;
    align-items: center;
    gap: 16px;

    &:hover {
      background-color: $secondary;
    }
  }

  &-mobile {
    --bs-offcanvas-width: 260px;

    .nav-link {
      display: flex;
      align-items: center;
      gap: 16px;

      &:hover {
        background-color: $secondary;
      }
    }
  }
}
